$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-30: 30px;
$font-size-35: 35px;

$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;

$line-height-20: 20px;
$line-height-35: 35px;
$m-0: 0;
$mt-28: 28px;
$mt-unset: unset;
$me-22: 22px;
$me-30: 30px;
$me-unset: unset;
$mb-16: 16px;
$mb-25: 25px;
$mb-28: 28px;
$mb-30: 30px;
$mb-unset: unset;

$mw-100: 100%;




